In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv

url_kwh = 'https://raw.githubusercontent.com/elianrichard/kwh_meter/master/data_kwh_2.csv'
url_libur = 'https://raw.githubusercontent.com/elianrichard/kwh_meter/master/data_libur_2.csv'
url_puasa = 'https://raw.githubusercontent.com/elianrichard/kwh_meter/master/data_puasa_2.csv'

data_kwh = pd.read_csv(url_kwh)
data_libur = pd.read_csv(url_libur)
data_puasa = pd.read_csv(url_puasa)

In [2]:
# data_kwh_2, data_libur_2, data_puasa_2

# database_libur = np.empty((0, 4), int)

# for data in range(len(data_libur)):
#     database_libur = np.append(database_libur, np.array([[data_libur['Day'][data], data_libur['Month'][data], data_libur['Year'][data], data_libur['Ket'][data]]]), 0)
# for data in range(len(data_puasa)):
#     database_libur = np.append(database_libur, np.array([[data_puasa['Day'][data], data_puasa['Month'][data], data_puasa['Year'][data], 'Puasa']]), 0)

# print(database_libur)

In [3]:
# for data in range(len(database_libur)):
#     data_kwh.loc[(data_kwh["Day"] == int(database_libur[data][0])) & (data_kwh["Month"] == int(database_libur[data][1])) & (data_kwh["Year"] == int(database_libur[data][2])), "HariLibur"] = 1

In [4]:
a = pd.DataFrame({"Date":["30-12-2019"], "Ket":["Liburrr"]})
data_libur.append(a, ignore_index = True)

print(data_libur)

data_kwh['Date'] = pd.to_datetime(data_kwh['Date'], format='%d-%m-%Y')
data_libur['Date'] = pd.to_datetime(data_libur['Date'], format='%d-%m-%Y')
data_puasa['Date'] = pd.to_datetime(data_puasa['Date'], format='%d-%m-%Y')

data_kwh.loc[(data_kwh["Date"] == data_libur['Date'][0]), "HariLibur"] = 1

          Date                      Ket
0   01-01-2021               Tahun Baru
1   12-02-2021         Tahun Baru Imlek
2   11-03-2021               Isra Miraj
3   14-03-2021                    Nyepi
4   02-04-2021       Wafat Isa Al Masih
5   01-05-2021               Hari Buruh
6   12-05-2021  Cuti Bersama Idul Fitri
7   13-05-2021    Kenaikan Isa Al Masih
8   13-05-2021               Idul Fitri
9   14-05-2021               Idul Fitri
10  26-05-2021                   Waisak
11  01-06-2021     Hari Lahir Pancasila
12  20-07-2021                Idul Adha
13  10-08-2021         Tahun Baru Islam
14  17-08-2021           Kemerdekaan RI
15  19-10-2021     Maulid Nabi Muhammad
16  25-12-2021                    Natal
17  01-01-2020               Tahun Baru
18  25-01-2020         Tahun Baru Imlek
19  22-03-2020               Isra Miraj
20  25-03-2020                    Nyepi
21  10-04-2020       Wafat Isa Al Masih
22  01-05-2020               Hari Buruh
23  07-05-2020         Hari Raya Waisak
24  21-05-2020    Kenaikan Isa Al Masih
25  22-05-2020  Cuti Bersama Idul Fitri
26  24-05-2020               Idul Fitri
27  25-05-2020               Idul Fitri
28  26-05-2020  Cuti Bersama Idul Fitri
29  27-05-2020  Cuti Bersama Idul Fitri
30  01-06-2020     Hari Lahir Pancasila
31  31-07-2020                Idul Adha
32  17-08-2020           Kemerdekaan RI
33  20-08-2020         Tahun Baru Islam
34  29-10-2020     Maulid Nabi Muhammad
35  24-12-2020       Cuti Bersama Natal
36  25-12-2020                    Natal
37  01-01-2019               Tahun Baru
38  05-02-2019         Tahun Baru Imlek
39  07-03-2019                    Nyepi
40  03-04-2019              Iskra Miraj
41  19-04-2019       Wafat Isa Al Masih
42  01-05-2019               Hari Buruh
43  19-05-2019         Hari Raya Waisak
44  30-05-2019    Kenaikan Isa Al Masih
45  01-06-2019     Hari Lahir Pancasila
46  03-06-2019     Hari Raya Idul FItri
47  04-06-2019     Hari Raya Idul FItri
48  05-06-2019     Hari Raya Idul FItri
49  06-06-2019     Hari Raya Idul FItri
50  07-06-2019     Hari Raya Idul FItri
51  11-08-2019     Hari Raya Idhul Adha
52  17-08-2019           Kemerdekaan RI
53  01-09-2019         Tahun Baru Islam
54  09-11-2019              Maulid Nabi
55  24-12-2019          Hari Raya Natal
56  25-12-2019          Hari Raya Natal

In [5]:
y = data_kwh['ExportWhTotal'].tolist()
data_clean = []

for data in y:
    if data > 0:
        if data < 90000000:
            data_clean.append(data)
        else:
          data_clean.append(np.nan)
    else:
      data_clean.append(np.nan)

x = list(range(0, len(data_clean)))

In [6]:
fig = plt.figure()
fig.set_figwidth(50)
fig.set_figheight(30)
# p = plt.plot(x, data_clean)

In [7]:
data_asli = []

for data in y:
    if data > 0:
        if data < 90000000:
            data_asli.append(data)
            
n = list(range(0, len(data_asli)))
fig = plt.figure()
fig.set_figwidth(50)
fig.set_figheight(30)
# plt.plot(n, data_asli)

In [8]:
print(len(data_libur))
print(len(data_puasa))

57
91

In [9]:
data_libur.head(58)

         Date                      Ket
0  2021-01-01               Tahun Baru
1  2021-02-12         Tahun Baru Imlek
2  2021-03-11               Isra Miraj
3  2021-03-14                    Nyepi
4  2021-04-02       Wafat Isa Al Masih
5  2021-05-01               Hari Buruh
6  2021-05-12  Cuti Bersama Idul Fitri
7  2021-05-13    Kenaikan Isa Al Masih
8  2021-05-13               Idul Fitri
9  2021-05-14               Idul Fitri
10 2021-05-26                   Waisak
11 2021-06-01     Hari Lahir Pancasila
12 2021-07-20                Idul Adha
13 2021-08-10         Tahun Baru Islam
14 2021-08-17           Kemerdekaan RI
15 2021-10-19     Maulid Nabi Muhammad
16 2021-12-25                    Natal
17 2020-01-01               Tahun Baru
18 2020-01-25         Tahun Baru Imlek
19 2020-03-22               Isra Miraj
20 2020-03-25                    Nyepi
21 2020-04-10       Wafat Isa Al Masih
22 2020-05-01               Hari Buruh
23 2020-05-07         Hari Raya Waisak
24 2020-05-21    Kenaikan Isa Al Masih
25 2020-05-22  Cuti Bersama Idul Fitri
26 2020-05-24               Idul Fitri
27 2020-05-25               Idul Fitri
28 2020-05-26  Cuti Bersama Idul Fitri
29 2020-05-27  Cuti Bersama Idul Fitri
30 2020-06-01     Hari Lahir Pancasila
31 2020-07-31                Idul Adha
32 2020-08-17           Kemerdekaan RI
33 2020-08-20         Tahun Baru Islam
34 2020-10-29     Maulid Nabi Muhammad
35 2020-12-24       Cuti Bersama Natal
36 2020-12-25                    Natal
37 2019-01-01               Tahun Baru
38 2019-02-05         Tahun Baru Imlek
39 2019-03-07                    Nyepi
40 2019-04-03              Iskra Miraj
41 2019-04-19       Wafat Isa Al Masih
42 2019-05-01               Hari Buruh
43 2019-05-19         Hari Raya Waisak
44 2019-05-30    Kenaikan Isa Al Masih
45 2019-06-01     Hari Lahir Pancasila
46 2019-06-03     Hari Raya Idul FItri
47 2019-06-04     Hari Raya Idul FItri
48 2019-06-05     Hari Raya Idul FItri
49 2019-06-06     Hari Raya Idul FItri
50 2019-06-07     Hari Raya Idul FItri
51 2019-08-11     Hari Raya Idhul Adha
52 2019-08-17           Kemerdekaan RI
53 2019-09-01         Tahun Baru Islam
54 2019-11-09              Maulid Nabi
55 2019-12-24          Hari Raya Natal
56 2019-12-25          Hari Raya Natal

In [10]:
data_kwh.head()

,Date,Hour,ExportWhTotal,ImportWhTotal,Weekday,Weekend,HariLibur,MakanSiang,PulangKerja,JamTidur,Subuh,Pagi,Siang,Sore,Malam,TengahMalam,BulanPuasa
0,2019-12-30,0:00:00,40031250.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-12-30,0:30:00,38718750.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-12-30,1:00:00,37437500.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-12-30,1:30:00,36000000.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-12-30,2:00:00,34843750.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN